// 
// Page-title
// 

.page-title-box {
    padding-bottom: $grid-gutter-width;

    .breadcrumb {
        background-color: transparent;
        padding: 0;

        .breadcrumb-item {
            a {
                color: #0e2455;
                font-weight: 500;
                transition: color 0.15s ease;

                &:hover {
                    color: #f6872a;
                }
            }

            &.active {
                color: #79829c;
            }
        }
    }

    h4 {
        font-size: 18px !important;
        color: #0e2455;
        font-weight: 700;
        letter-spacing: -0.01em;
    }
}

.state-information{
    .state-graph{
    float: right;
    margin-left: 40px;
    text-align: center;
        .info{
            font-size: 12px;
            margin-top: 3px;
        }
    }
}  



body[data-layout="horizontal"] {
    .top-navigation{
        padding: 0 calc(24px / 2) 0 calc(24px / 2);
    }

    .state-information{
        .state-graph{
            .info{
                color: $gray-500;
            }
        }
    }  
    
    .page-title-content {
        padding: 20px 0;
        .page-title-box {
            padding-bottom: 0;
            .breadcrumb-item {
                > a {
                    color: $gray-400;
                }
                +.breadcrumb-item {
                    &::before {
                        color:  rgba($white, 0.5);
                    }
                }
                &.active {
                    color: $gray-500;
                  }
            }
        }
        h4 {
            color: $white;
        }
    }
}

